/* .nav_bar{background:#2ea2b1;} */
.nav div {background:#51b8c8;}
.nav div a {border-bottom:1px dotted #b9dff8;}

.serve01{width:100px;height:100px;background-position:center;background-size:100px 100px;background-image:url(serve_pic_01_lightblue.png);background-repeat:no-repeat;margin:0 auto;}
.serve02{width:100px;height:100px;background-position:center;background-size:100px 100px;background-image:url(serve_pic_02_lightblue.png);background-repeat:no-repeat;margin:0 auto;}
.serve03{width:100px;height:100px;background-position:center;background-size:100px 100px;background-image:url(serve_pic_03_lightblue.png);background-repeat:no-repeat;margin:0 auto;}
.serve04{width:100px;height:100px;background-position:center;background-size:100px 100px;background-image:url(serve_pic_04_lightblue.png);background-repeat:no-repeat;margin:0 auto;}
.serve05{width:100px;height:100px;background-position:center;background-size:100px 100px;background-image:url(serve_pic_05_lightblue.png);background-repeat:no-repeat;margin:0 auto;}
.serve06{width:100px;height:100px;background-position:center;background-size:100px 100px;background-image:url(serve_pic_06_lightblue.png);background-repeat:no-repeat;margin:0 auto;}
.more_btn{background:url(more_btn_lightblue.png) no-repeat;background-size:37px 13px;}


.hrtopxw {/* margin-top: 10px; */padding: 10px;font-size: 16px;font-weight: bold;
         background-image: url(../images/danlan_01.png);background-repeat: no-repeat;color: #FFF;}
.hrxianxw_xj{background-image: url(../images/danlan_02.png);background-repeat: no-repeat;height:15px;background-size: 155px auto;}
.theme_back{background-image: url(../theme/1.png)}